<h1>Welcome <%= current_user.first_name if current_user %></h1>

<h3>Here is the list of all your motion pictures</h3>

<div>
<% @user.movies.each do |movie| %>
<div><%= link_to movie.title, user_movie_path(movie.user, movie)%></div>
<% end %>
</div>

<p><%= link_to "Create a new movie", new_user_movie_path %></p>
<p><%= link_to "Log Out", logout_path %></p>